
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

#loginimg, #menuimg{
  position: relative;
}
#loginform, #menuform{
    position: absolute; 
    top: 400px; 
    left: 0; 
    width: 35%; 
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 26px;
    background-color: antiquewhite;
}
#loginform label{
  margin-left: 8px;
}
#loginform input{
  margin-left: 8px;
  width: 250px;
}
#loginform button{
  margin-left: 28px;
  margin-bottom: 15px;
}
#logintitle, #menutitle{
  position: absolute; 
  top: 50px; 
  left: 70%; 
  width: 25%; 
  /* margin-left: 50px; */
  font-size: 95px;
  color: red;
}
#loginhead, #menuhead{
  text-align: center;
  font-size: 32px;
}
ol{
  list-style-type: none;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}
#showalerts{
  text-align: center;
}
th{
  background-color: lightblue;
}
#subalert label{
  margin-right: 18px;
  margin-bottom: 10px;
  line-height: 25px;

}
#subalert input{
  margin-right: 28px;
  width: 250px;
}
#subalert button{
  margin-left: 28px;
  margin-bottom: 15px;
}
